<html>
<head>
</head>
<body>  
<div class="content_dispaly">
    <h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>register</h3>
{% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/blog/index">Return to the homepage.</a><br />
{% else %}
    <form id="RegistrationForm" method="post" class="form col-md-5" role="form" action="" enctype="multipart/form-data">      
      <!--{{ user_form.as_p }}-->
        {% csrf_token %}
        {% for field in form %}
		    <div class="form-group">
		        {% if field.errors %}
		       	 {{ field.errors }} {{ field.label_tag }}
		        {% endif %}
		        <label>{{ field.label_tag }}</label>
		        {{ field }}
		        {% if field.help_text %}
		        <p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
		    </div>
		{% endfor %}
		
    
        <input type="submit" name="submit" class="btn btn-primary" value="Registeration" />
    </form>
{% endif %}
</div>
</body>

